#vichromebox {
    outline: none;
    border: none;
    border-radius: 0px;
    background : none;
    position: fixed;
    padding: 0;
    margin:  0;
    height: auto;
    z-index: 100000;
}

#vichromefield {
    background-color: rgba(50, 50, 50, 0.8);
    display: none;
    outline: none;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    line-height: normal;
    width: 100%;
    height: 24px;
    padding: 0px 3px;
    margin: 0px 0px;
}

#vichromeinput {
    background : none;
    color: #fff;
    font-family: Calibri, "Lucida Grande", Lucida, Arial, sans-serif;
    text-align: left;
    outline: none;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    width: auto;
    line-height: 24px;
    height: 24px;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 20px;
    float : left;
}

#vichromemodechar {
    background : none;
    color: #fff;
    font-family: Calibri, "Lucida Grande", Lucida, Arial, sans-serif;
    text-align: left;
    line-height: 24px;
    height: 24px;
    width: 10px;
    outline: none;
    border: none;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 20px;
    float : left;
}


#vichromecandbox {
    background-color: rgba(50, 50, 50, 0.8);
    font-family: Calibri, "Lucida Grande", Lucida, Arial, sans-serif;
    position: fixed;
    outline: none;
    text-align: left;
    color: #fff;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    min-width:  400px;
    max-height: 440px;
    overflow: auto;
    font-size: 14px;
    padding: 0px 3px;
    margin: 0px 0px;
    z-index: 100000;
}

#vichromecanditem {
    background : none;
    outline: none;
    border: none;
    border-radius: 0px;
    line-height: normal;
    white-space : nowrap;
    width: 100%;
    height: 22px;
    padding: 0px 0px;
    margin: 0px 0px;
}

#vichromecandtext {
    background : none;
    outline: none;
    border: none;
    border-radius: 0px;
    height: 22px;
    float : left;
}

.vichrome-candstr {
    text-align: left;
    color: #d3d3d3;
    line-height: 22px;
    min-width : 70px;
    font-size: 16px;
    padding-left : 5px;
    padding-right : 0px;
    padding-top : 0px;
    padding-bottom : 0px;
    margin: 0px 0px;
}

.vichrome-canddscr {
    text-align: left;
    color: #bbf;
    line-height: 25px;
    font-size: 12px;
    padding-left: 10px;
    padding-right : 0px;
    padding-top : 0px;
    padding-bottom : 0px;
    margin: 0px 0px;
}

.vichrome-commandboxLeft-Bottom {
    left:  0px;
    bottom:20px;
}
.vichrome-candboxLeft-Bottom {
    left:  0px;
    bottom:44px;
}

.vichrome-commandboxRight-Bottom {
    right: 6px;
    bottom:20px;
}
.vichrome-candboxRight-Bottom {
    right: 0px;
    bottom:44px;
}

.vichrome-commandboxLeft-Top {
    left:  0px;
    top:   20px;
}
.vichrome-candboxLeft-Top {
    left:  0px;
    top:   44px;
}

.vichrome-commandboxRight-Top {
    right: 6px;
    top:   20px;
}
.vichrome-candboxRight-Top {
    right: 0px;
    top:   44px;
}

.vichrome-canditemfocused {
    background-color: rgba(240, 240, 240, 0.8) !important;
    color: #666 !important;
}
