#vichromebox {
    background : none;
    position: fixed;
    text-align: left;
    padding: 0;
    margin:  0;
    left:  0px;
    bottom:0px;
    height: auto;
    width: 35%;
    z-index: 100000;
}

#vichromefield {
    background-color: rgba(64, 64, 64, 0.7);
    display: none;
    outline: none;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    width: 100%;
    height: 24px;
    padding: 0px 3px;
    margin: 0px 0px;
}

#vichromeinput {
    background : none;
    color: #fff;
    font-family: Calibri, "Lucida Grande", Lucida, Arial, sans-serif;
    outline: none;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    width: auto;
    height: 24px;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 20px;
}

#vichromemodechar {
    background : none;
    color: #fff;
    font-family: Calibri, "Lucida Grande", Lucida, Arial, sans-serif;
    width: 10px;
    height: 24px;
    outline: none;
    border: none;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 20px;
}

#vichromestatusline {
    background-color: rgba(64, 64, 64, 0.7);
    color: #fff;
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    width: 100%%;
    height: 18px;
    padding: 1px 3px;
    margin:  0px 0px;
    font-size: 14px;
}

#vichromecandbox {

}

.statuslineinactive {
    background-color: rgba(64, 64, 64, 0.6) !important;
    width : 40% !important;
}

.highlight {
    background-color: Khaki;
    color: black;
}

.highlightFocus {
    background-color: orange !important;
    color: black !important;
}
